 body {
    background-color: #282828;
    color: #ebdbb2;
    font-family: "Courier New", monospace;
    text-align: center;
}

img {
    display: block;
    margin: 20px auto;
}

a {
    color: #ebdbb2;
    text-decoration: none;
}

.grub-box {
    width: 350px;
    margin: 20px auto;
    border: 2px solid #a89984;
    padding: 10px;
    text-align: left;
    background-color: #1d2021;
}

.grub-box a {
    display: block;
    padding: 5px;
}

.selected,
.grub-box a:hover {
    background-color: #458588;
    color: #fbf1c7;
}

h1 {
    color: #fabd2f;
}

h2 {
    color: #b8bb26;
}

#clock {
    color: #83a598;
}